<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center">
    <h1>My tasks</h1>
      <% @tasks.each do |task| %>
        <div>
          <li>
            <%= link_to task.title, task_path(task) %>
          </li>
        </div>
      <% end %>
  </div>
</div>
